.navButton {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  text-align: left !important;
  width: 100% !important;
  padding: 8px 12px !important;
  gap: 10px !important;

  & > span {
    width: 100% !important;
    display: flex !important;
    flex-grow: 1 !important;
    align-items: center !important;
  }
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navLabel {
  font-weight: 500;
  text-align: left;
}
