.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.xs {
  max-width: 576px;
}

.sm {
  max-width: 640px;
}

.md {
  max-width: 768px;
}

.lg {
  max-width: 1024px;
}

.xl {
  max-width: 1280px;
}

.full {
  max-width: none;
}
